#export RESTIC_REPOSITORY="sftp:<username>@<local_server>:/restic/$(hostname)"
export RESTIC_REPOSITORY="sftp:<username>@<tailscale_server>:/restic/$(hostname)"
export RESTIC_PASSWORD_FILE="password file"
